@font-face {
  font-family: "iconfont"; /* Project id 913203 */
  src: url('iconfont.woff2?t=1657516425956') format('woff2'),
       url('iconfont.woff?t=1657516425956') format('woff'),
       url('iconfont.ttf?t=1657516425956') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e603";
}

.icon-email:before {
  content: "\e602";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-qq:before {
  content: "\e600";
}

.icon-shouye2:before {
  content: "\e681";
}

.icon-wodemian2:before {
  content: "\e60f";
}

.icon-kinds:before {
  content: "\e60d";
}

.icon-youhuiquan01:before {
  content: "\e637";
}

.icon-gouwuche:before {
  content: "\e64f";
}

